.login-styling {
  padding: 20px 10px;
  margin: 1rem 0 0 0;
  width: 80vw;

  box-shadow: var(--card-box-shadow);
  border-radius: 2px;
  background-color: var(--background-white);

  display: flex;
  flex-direction: column;
}

.login-styling > div {
  padding: 0 20vw;
}

.login-styling > h1 {
  padding: 0 20vw;
}

.login-styling > form {
  display: flex;
  flex-direction: column;

  padding: 0 20vw;
}

.login-styling > form > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  margin: 10px 0 0 0;
}

.login-styling > form > div > input {
  background-color: white;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  height: 30px;
  min-width: 200px;
}

.login-styling > form > div > label {
  color: black;
}

.login-button {
  background-color: var(--button-blue);
  border: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
  width: 100px;
  color: white;
}

@media (width > 1200px) {
  .login-styling > form {
    padding: 0 25vw;
  }

  .login-styling > div {
    padding: 0 25vw;
  }

  .login-styling > h1 {
    padding: 0 25vw;
  }
}

@media (width < 768px) {
  .login-styling > form {
    padding: 0;
  }

  .login-styling > div {
    padding: 20px 0;
  }

  .login-styling > h1 {
    padding: 0;
  }

  .login-button {
    color: white;
    height: 40px;
    width: 100%;
  }
}