.canvas {
  z-index: 1;

  height: 100%;
  width: 100%;

  background-image: url('@src/assets/easel.webp');
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 100% 100%;
  background-position: center;

  /* padding: 15% 23% 30% 20%; */

  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 100px 0;
}

/* @media (width <= 768px) {
  .canvas {
    padding: 5% 23% 30% 20%;
  }
} */
