.header-nav-wide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 768px) {
  .header-nav-wide {
    display: none;
  }
}

.brand-box {
  display: flex;
  align-items: center;
  justify-content: end;
}

.brand-box > h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  
  margin: 0;
}

.brand-box > img {
  height: 5rem;
  margin: -5px 8px;
}

.aside-menu {
  position: absolute;
  top: 8vh;
  left: 85vw;
  z-index: 102;

  background-color: white;
  border-radius: 10px;
  border: 0.5px solid lightgrey;
}

.aside-menu > div { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;
}

.hover-grey:hover {
  background-color: whitesmoke;
  border-radius: 5px;
}

.login-text {
  width: 100px;
  margin: 0 5px;
}

.header-nav-narrow {
  display: none;
}

@media (max-width: 768px) {
  .header-nav-narrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .drawer-menu {
    position: absolute;
    top: 10vh;
    left: 0;
    z-index: 102;
    width: 100vw;
    background-color: var(--banner-dark);
  }
  
  .drawer-menu > div { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
  }

  .menu-button {
    width: 50px;
    height: 50px;
  }
}
