.back-button, .update-button {
  background-color: var(--button-blue);
  border: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
}

.edit-user-styling {
  background-color: white;
  padding: 20px 10px;
  margin: 1rem 0 0 0;

  box-shadow: var(--card-box-shadow);
  border-radius: 2px;

  background-color: var(--background-white);

  display: flex;
  flex-direction: column;
  padding: 20px 25vw;
}

.edit-user-styling > form {
  display: flex;
  flex-direction: column;
}

.edit-user-styling > form > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  margin: 10px 0 0 0;
}

.edit-user-styling > form > div > input {
  background-color: white;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  height: 40px;
  min-width: 200px;
}

@media (width > 1200px) {
  .edit-user-styling {
    padding: 20px 30vw;
  }
}

@media (width < 768px) {
  .edit-user-styling {
    padding: 20px 10vw;
  }

  .back-button, .update-button {
    width: 100%;
  }
}